.container {
  max-width: 900px;
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;

  font-size: 0.9rem;
}

.title {
  font-size: 2.25rem;
  text-align: center;

  margin-bottom: 12px;
}

.text {
  font-size: 1.15rem;
  text-align: center;
}

.statTitle {
  font-size: 2.25rem;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.statContainer {
  text-align: center;
  color: #808080;
  margin-bottom: 64px;
}

.imageContainer {
  box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
  padding: 8px;
}

.smallImageContainer {
  box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
  width: 50%;
  margin: auto;
  padding: 24px;
}

@media (max-width: 600px) {
  .smallImageContainer {
    width: 90%;
  }
}
